
<%= @country.name  %> Info
<br><br>

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Select a Date Range</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 3
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
  </script>
</head>
<body>

<label for="from">From</label>
<input type="text" id="from" name="from">
<label for="to">to</label>
<input type="text" id="to" name="to">


<h3>Recent News</h3>
<p class= "news_feed">
  <% @news_feeds.each do |news_feed| %>
  <ul class="story">
    <h4 class="headline"><%= news_feed.headline %></h4>
    <li class="url"> <%= link_to "Click here for full story>>", news_feed.url, target: :_blank %></li>
  </ul>
  <% end %>
</p>


<h3>Travel Notes</h3>
<p class= "travel_requirements">
    <strong class="vaccinations"> Inoculations</strong> : <%=  @travel_requirements.vaccination_notifier %><br>
    <strong class="currency_vs_usd"> Local Currency Against Dollar</strong> <%= @travel_requirements.currency_vs_usd %><br>
    <strong class="water_advisory"> Drinking Water Advisory</strong> <%= @travel_requirements.drinking_water %><br>
    <strong class="physical_safety"> Warnings for US Travelers</strong>: <%= @travel_requirements.physical_safety_notifier %><br>
    <%= link_to "Click here for more Guidelines", "https://travel.state.gov/content/passports/en/alertswarnings.html", target: :_blank %>
</p>


</body>
</html>
