
<br><br><br><br><br>
<h3 class="snapshot"> Quickly Assess Your Next International Trip</h3>

<%= image_tag("cartoon-airplane-clipart-Airplane.jpg")%>
<!-- <img src="http://images.clipartpanda.com/cartoon-airplane-clipart-Airplane.jpg" alt=""> -->


<div class="currency-basket">
<h4>Currency Rates Basket</h4>
<p class= "rates">
<ul>
  <strong>USD to Australian Dollar</strong>: <%= @currency_rates.to_australian %><br>
  <strong>USD to Euro</strong>: <%= @currency_rates.to_euro %><br>
  <strong>USD to British Pound</strong>: <%= @currency_rates.to_sterling %><br>
  <strong>USD to Japanese Yen</strong>: <%= @currency_rates.to_yen %><br>
  <strong>USD to Chinese Yuan Rembini</strong>: <%= @currency_rates.to_yuan %><br>
  <strong>USD to Hong Kong Dollar</strong>: <%= @currency_rates.to_hkd %><br>
</ul>
</p>
</div>






<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <%= @region.africa %></h3>
                </div>
                <ul class="list-group">
                  <% @region.african_countries.countries.each do |country| %>
                  <li class="list-group-item"><%= link_to country.name, country_path(country) %></li>
                  <% end %>
                </ul>
            </div>
        </div>


        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                      <%= @region.asia %>  </h3>
                </div>
                <ul class="list-group">
                  <ul class= "country">
                    <% @region.asian_countries.countries.each do |country| %>
                    <li class="list-group-item"><%= link_to country.name, country_path(country) %></li>
                    <% end %>
                </ul>
            </div>
        </div>


        <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <%= @region.europe %></h3>
                        </div>
                        <ul class="list-group">
                          <% @region.european_countries.countries.each do |country| %>
                          <li class="list-group-item"><%= link_to country.name, country_path( country) %></li>
                          <% end %>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <%= @region.north_america %></h3>
                        </div>
                        <ul class="list-group">
                          <% @region.north_american_countries.countries.each do |country| %>
                          <li class="list-group-item"><%= link_to country.name, country_path(country) %></li>
                          <% end %>
                        </ul>
                    </div>
                </div>


                <div class="col-md-4">
                      <div class="panel panel-warning">
                          <div class="panel-heading">
                              <h3 class="panel-title">
                                  <%= @region.central_america %> </h3>
                          </div>
                          <ul class="list-group">
                            <% @region.central_american_countries.countries.each do |country| %>
                            <li class="list-group-item"><%= link_to country.name, country_path( country) %></li>
                            <% end %>
                          </ul>
                      </div>
                  </div>


                  <div class="container">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <h3 class="panel-title">
                                          <%= @region.south_america %></h3>
                                  </div>
                                  <ul class="list-group">
                                    <% @region.south_american_countries.countries.each do |country| %>
                                    <li class="list-group-item"><%= link_to country.name, country_path(country) %></li>
                                    <% end %>
                                  </ul>
                              </div>
                          </div>


                          <div class="col-md-4">
                              <div class="panel panel-primary">
                                  <div class="panel-heading">
                                      <h3 class="panel-title">
                                        <%= @region.australia_region %>  </h3>
                                  </div>
                                  <ul class="list-group">
                                    <ul class= "country">
                                      <% @region.australia_region_countries.countries.each do |country| %>
                                      <li class="list-group-item"><%= link_to country.name, country_path( country) %></li>
                                      <% end %>
                                  </ul>
                              </div>
                          </div>
